* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #242424;
  --intro-bg: #222e35;
  --button-primary-bg: #00a884;
  --outgoing-color: #005c4b;
  --incoming-background: #202c33;
  --app-bg: #0c1317;
  --bg-default-active: #2a3942;
  --panel-header-bg: #202c33;
  --secondary-color: #8696a0;
  --border-color: rgb(134 150 160 / 15%);
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--app-bg);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--dark);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.chat-container {
  display: flex;
  height: 100vh;
}

/* chatwindow css */
.chat-window {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--intro-bg);
  /* padding: 20px; */
}

.chat-header {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  background-color: var(--panel-header-bg);
}


.chat-body {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid var(--border-color);
  background: var(--intro-bg);
  background-image: url('https://i.pinimg.com/564x/d3/6b/cc/d36bcceceaa1d390489ec70d93154311.jpg');
  /* background-image: linear-gradient(rgba(18, 18, 19, 0.473), rgba(18, 23, 30, 0.4)), url('https://i.pinimg.com/564x/d3/6b/cc/d36bcceceaa1d390489ec70d93154311.jpg') */
}

.chat-message {
  padding: 8px 12px;
  margin: 5px;
  border-radius: 10px;
}

.chat-message.me {
  background: var(--outgoing-color);
  color: white;
  width: fit-content;
  max-width: 45%;
  margin-left: auto;
  text-align: right;
  border-radius: 20px 20px 0px 20px;
}

.chat-footer {
  display: flex;
  padding: 0.5rem;
  background-color: var(--bg-default-active);
}

.chat-footer input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0px;
  border-radius: 7px 0 0 7px;
}

.chat-footer button {
  padding: 1px 25px;
  border: none;
  font-size: 1.5em;
  background: var(--dark);
  color: white;
  cursor: pointer;
  border-radius: 0 7px 7px 0;
}

/* chatwindow css */

/* chatsidebar css */
.chat-sidebar {
  width: 30%;
  height: 100vh;
  background: var(--app-bg);
  border-right: 1px solid var(--border-color);
  color: var(#fff);
}

.sidebar-header {
  padding: 10px;
}

.search-box {
  position: relative;
}

.search-box svg {
  position: absolute;
  top: 7px;
  left: 15px;
  font-size: 22px;
}

input {
  padding-left: 46px !important;
  background-color: var(--intro-bg) !important;
  border: none !important;
  color: #fff !important;

}

input::placeholder {
  color: var(--secondary-color) !important;
}

input:focus {
  outline: none !important;
  border: none !important;
  color: #fff !important;
  background-color: var(--intro-bg) !important;
}

.user-list {
  margin-top: 10px;
}

.user-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
}

.user-item:hover {
  background: var(--bg-default-active);
}

.user-item.active {
  background: var(--dark);
  color: white;
  border-radius: 0;
}

.user-avatar {
  background: #4e4e4e;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  text-transform: capitalize;
}

/* chatsidebar css */

input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #ccc !important;
  /* Optional: Set a neutral border color */
}

.chat-message.other {
  width: fit-content;
  max-width: 50%;
  background: var(--incoming-background);
  border-radius: 20px 20px 20px 0;
}

.profileOptionsList {
  background-color: var(--intro-bg);
  width: 200px;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  border-radius: 20px 0 20px 20px;
  overflow: hidden;
}

.profileOptionsList ul {
  padding: 0;
}

.profileOptionsList li {
  list-style: none;
  border-bottom: 1px solid var(--border-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.profile-icon {
  cursor: pointer;
}

.profileOptionsList li:hover {
  background-color: var(--bg-default-active);
}

.scroll-down-btn {
  position: fixed;
  bottom: 90px;
  right: 35%;
  background: var(--bg-default-active);
  height: 40px;
  width: 40px;
  padding: 5px;
  border-radius: 100%;
}